#logLevel: warn

authInternalUsers:
  - user: any
    permissions:
      - action: read
  - user: argon2:$argon2id$v=19$m=4096,t=3,p=1$c2FsdEl0V2l0aFNhbHQ$KH0TfKdjXVs5CQeVlK9HgIcbgTKieOR7lTAtcw8cJHE
    pass: argon2:$argon2id$v=19$m=4096,t=3,p=1$c2FsdEl0V2l0aFNhbHQ$9FfvQXn7ULA/Ij7EJ2VOEaznGszWlY/PXUVBH/vwv7s
    permissions:
      - action: publish

paths:
  # TODO: use gamechorps instead lofi-girl
  source/main:
    source: publisher
    runOnInit: sh /srv/scripts/rtmp-common-init.sh
    runOnReady: sh /srv/scripts/rtmp-application-compose.sh
    runOnReadyRestart: yes

#  source/music/lofi/medieval:
#    source: publisher
#    runOnInit: sh /srv/scripts/rtmp-application-source-youtube.sh $RTMP_APPLICATION_SOURCE_LOFI_MEDIEVAL_URL
#    runOnInitRestart: true

#  source/music/lofi/hiphop:
#    source: publisher
#    runOnInit: sh /srv/scripts/rtmp-application-source-twitch.sh $RTMP_APPLICATION_SOURCE_LOFI_HIPHOP_URL
#    runOnInitRestart: true

  source/radio:
    source: publisher
    runOnInit: sh /srv/scripts/rtmp-application-source-radio.sh
    runOnInitRestart: true

  output:
    source: publisher
    runOnInit: sh /srv/scripts/rtmp-common-init.sh
    runOnReady: sh /srv/scripts/rtmp-application-publish.sh
    runOnReadyRestart: yes