services:
  rtmp-relay:
    image: bluenviron/mediamtx:latest
    volumes:
      - ./configs/rtmp-relay.yaml:/mediamtx.yaml
    ports:
      - "9100:1935" #RTMP
      - "9101:8888" #HLS
      - "9102:8889" #WebRTC (TCP)
      - "8189:8189/udp" #WebRTC (UDP)
      - "8189:8189/tcp" #WebRTC (UDP)
      - "9104:8890/udp" #SRT
    deploy:
      resources:
        limits:
          cpus: '1.5'
          memory: 2G
        reservations:
          cpus: '0.5'
          memory: 512M

#  rtmp-twitch-replay:
#    image: jauderho/yt-dlp:latest
#    volumes:
#      - ./entrypoints/rtmp-to-local.sh:/entrypoint.sh
#    entrypoint: /bin/sh /entrypoint.sh
#    depends_on:
#      - rtmp-relay
#    environment:
#      TWITCH_CHANNEL_NAME: eilertenstudio
#      RTMP_SERVER_URL: rtmp://rtmp-relay:1935/replay/twitch

  app-server:
    image: node:22-alpine
    volumes:
      - ./entrypoints/app-server.sh:/entrypoint.sh
      - ../packages/server/:/runner
    working_dir: /runner
    entrypoint: >
      /bin/sh /entrypoint.sh
    secrets:
      - app-server-credentials
    environment:
      CREDENTIALS_FILE: /run/secrets/app-server-credentials

  app-client:
    image: eilertenstudio/entertainment-application
    build:
      dockerfile: ./images/app-to-rtmp.Dockerfile
    volumes:
      - ./entrypoints/app-client.sh:/entrypoint.sh
      - ../packages/app:/runner
    working_dir: /runner
    entrypoint: >
      /bin/sh /entrypoint.sh
    environment:
      WS_SERVER_URL: ws://app-server:8080
      RTMP_SERVER_URL: rtmp://rtmp-relay:1935/application
    deploy:
      resources:
        limits:
          cpus: '4.0'
          memory: 8G
        reservations:
          cpus: '2.0'
          memory: 2G
    depends_on:
      - app-server
      - rtmp-relay

secrets:
  app-server-credentials:
    file: ../packages/server/.env.credentials
