[tools]
# -----------------------------------------------------------------------------
npm = "11.6.0"
node = "22"

[env]
CREDENTIALS_FILE="./.env.credentials"

# -----------------------------------------------------------------------------
[tasks."setup"]
description = "Setup project workspace"
run = "npm i"

[tasks."build"]
description = "Build project artifacts"
run = "npm run build"

[tasks."publish"]
description = "Publish project artifacts and configuration"
run = "npm run publish-discord-commands"

# -----------------------------------------------------------------------------
[tasks."start"]
description = "Start project service"
run = [
  "mise //:container up app-server"
]

[tasks."start:dev"]
description = "Start development server"
run = "npm run dev"

# -----------------------------------------------------------------------------
[tasks."container:start"]
description = "Start service"
run = [
  "mise //:container up app-server"
]

[tasks."container:stop"]
description = "Stop service"
run = [
  "mise //:container down app-server"
]

[tasks."container:logs"]
description = "Show service logs"
run = [
  "mise //:container logs app-server"
]

[tasks."container:exec"]
description = "Execute a process on service"
run = [
  "mise //:container exec app-server"
]