services:
  rtmp-relay:
    image: bluenviron/mediamtx:latest
    volumes:
      - ./configs/rtmp-relay.sh:/mediamtx.sh
    ports:
      - "9100:1935" #RTMP
      - "9101:8888" #HLS
      - "9102:8889" #WebRTC (TCP)
      - "8189:8189/udp" #WebRTC (UDP)
      - "8189:8189/tcp" #WebRTC (UDP)
      - "9104:8890/udp" #SRT
    deploy:
      resources:
        limits:
          cpus: '1.5'
          memory: 2G
        reservations:
          cpus: '0.5'
          memory: 512M

  rtmp-to-local:
    image: jauderho/yt-dlp:latest
    volumes:
      - ./entrypoints/rtmp-to-local.sh:/entrypoint.sh
    entrypoint: /bin/sh /entrypoint.sh
    depends_on:
      - rtmp-relay
    environment:
      TWITCH_CHANNEL_NAME: eilertenstudio
      RTMP_SERVER_URL: rtmp://rtmp-relay:1935/replay/twitch

  app-to-rtmp:
    image: eilertenstudio/entertainment-application
    build:
      dockerfile: ./images/app-to-rtmp.Dockerfile
    volumes:
      - ../engine:/src
      - ./entrypoints/app-to-rtmp.sh:/entrypoint.sh
    entrypoint: /bin/sh /entrypoint.sh
    environment:
      WS_SERVER_URL: ws://192.168.1.25:8080
      RTMP_SERVER_URL: rtmp://rtmp-relay:1935/application
    deploy:
      resources:
        limits:
          cpus: '4.0'
          memory: 8G
        reservations:
          cpus: '2.0'
          memory: 2G
    depends_on:
      - rtmp-relay